@keyframes navBackground {
	0%   {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 96%, rgba(29,95,170,1) 100%);}
	4%   {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 92%, rgba(29,95,170,1) 96%);}
	8%   {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 88%, rgba(29,95,170,1) 92%);}
	12%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 84%, rgba(29,95,170,1) 88%);}
	16%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 80%, rgba(29,95,170,1) 84%);}
	20%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 76%, rgba(29,95,170,1) 80%);}
	24%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 72%, rgba(29,95,170,1) 76%);}
	28%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 68%, rgba(29,95,170,1) 72%);}
	32%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 64%, rgba(29,95,170,1) 68%);}
	36%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 60%, rgba(29,95,170,1) 64%);}
	40%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 56%, rgba(29,95,170,1) 60%);}
	44%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 52%, rgba(29,95,170,1) 56%);}
	48%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 48%, rgba(29,95,170,1) 52%);} 
	52%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 44%, rgba(29,95,170,1) 48%);}
	56%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 40%, rgba(29,95,170,1) 44%);}
	60%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 36%, rgba(29,95,170,1) 40%);}
	64%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 32%, rgba(29,95,170,1) 36%);}
	68%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 28%, rgba(29,95,170,1) 32%);}
	72%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 24%, rgba(29,95,170,1) 28%);}
	76%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 20%, rgba(29,95,170,1) 24%);}
	80%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 16%, rgba(29,95,170,1) 20%);}
	84%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 12%, rgba(29,95,170,1) 16%);}
	88%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 8%, rgba(29,95,170,1) 12%);}
	92%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 4%, rgba(29,95,170,1) 8%);}
	96%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 0%, rgba(29,95,170,1) 4%);}
	100% {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 0%, rgba(29,95,170,1) 0%);}
}

@keyframes navBackground2 {
	100% {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 96%, rgba(29,95,170,1) 100%);}
	96%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 92%, rgba(29,95,170,1) 96%);}
	92%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 88%, rgba(29,95,170,1) 92%);}
	88%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 84%, rgba(29,95,170,1) 88%);}
	84%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 80%, rgba(29,95,170,1) 84%);}
	80%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 76%, rgba(29,95,170,1) 80%);}
	76%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 72%, rgba(29,95,170,1) 76%);}
	72%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 68%, rgba(29,95,170,1) 72%);}
	68%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 64%, rgba(29,95,170,1) 68%);}
	64%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 60%, rgba(29,95,170,1) 64%);}
	60%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 56%, rgba(29,95,170,1) 60%);}
	56%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 52%, rgba(29,95,170,1) 56%);}
	52%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 48%, rgba(29,95,170,1) 52%);} 
	48%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 44%, rgba(29,95,170,1) 48%);}
	44%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 40%, rgba(29,95,170,1) 44%);}
	40%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 36%, rgba(29,95,170,1) 40%);}
	36%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 32%, rgba(29,95,170,1) 36%);}
	32%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 28%, rgba(29,95,170,1) 32%);}
	28%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 24%, rgba(29,95,170,1) 28%);}
	24%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 20%, rgba(29,95,170,1) 24%);}
	20%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 16%, rgba(29,95,170,1) 20%);}
	16%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 12%, rgba(29,95,170,1) 16%);}
	12%  {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 8%, rgba(29,95,170,1) 12%);}
	8%   {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 4%, rgba(29,95,170,1) 8%);}
	4%   {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 0%, rgba(29,95,170,1) 4%);}
	0%   {background: rgb(251,127,14);background: linear-gradient(90deg, rgba(251,127,14,1) 0%, rgba(29,95,170,1) 0%);}
}
@keyframes move{
	0%  { top: 0px; }
	20% { top: -50px; }
	40% { top: -100px; }
	60% { top: -150px; }
	80% { top: -200px; }
}
@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}